@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-100);
    min-height: 100vh;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@theme {
  --color-vyos-dark: #1e293b;
  --color-vyos-light: #334155;
  --color-vyos-primary: #3b82f6;
}